@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

body {
    font-family: 'Fira Sans', 'Microsoft Jhenghei', sans-serif;
}

pre, code {
    font-family: 'Fira Mono', 'Microsoft Jhenghei', monospace;
}

h1, h2, h3 {
    font-family: 'Fira Sans', 'Microsoft Jhenghei', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 1em;
}

h1 img {
    max-height: 1em;
}

img {
    max-width: 100%;
}

.center {
    position: absolute;
    left: 2em;
}

.footnote {
    position: absolute;
    bottom: 3em;
}

.greyed {
    color: #888;
}
